@import "src/common/styles/scss-common/variables.scss";

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: url(../../../common/assets/inshurence.jpg) 0px 0px no-repeat;
  background-size: cover;
  @media (max-width: 768px) and (orientation: landscape) {
    height: 100%;
  }
  @media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    height: 100%;
  }
  @media (max-width: 705px) {
    height: 100%;
  }
  @media (max-width: 813px) {
    background-position: left;
  }
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .container {
    padding-top: 35px;
    z-index: 1;
    width: 87%;
    height: 100%;
    .insurance {
      margin-top: 20px;
      padding-bottom: 50px;
      display: flex;
      align-items: center;
      @media (max-width: 813px) {
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 20px;
        margin: 0px;
      }
      .iconBlock {
        display: flex;
        align-items: center;

        padding: 0px;
        .imageInsurance {
          padding: 0px;
          margin-right: 5px;
          width: 90px;
          height: 90px;
          background-image: url("../../../common/assets/insurance.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          @media (max-width: 813px) {
            width: 60px;
            height: 60px;
          }
        }
        & h1 {
          font-family: $bigFont;
          color: white;
          font-size: 27px;
        }
      }
      & div {
        font-family: $baseFont;
        font-size: 1.2em;
        color: $descriptionColor;
        padding-left: 10px;
      }
    }
    .advantages {
      padding: 0;
      margin: 0;
      & h2 {
        position: relative;
        font-family: $bigFont;
        font-weight: bold;
        font-size: 27px;
        color: white;
        &:before {
          content: "";
          position: absolute;
          background: $redColor;
          width: 150px;
          height: 3px;
          bottom: -5px;
        }
        @media (max-width: 395px) {
          font-size: 30px;
        }
        @media (max-width: 468px) {
          font-size: 27px;
        }
        font-size: 30px;
      }
    }
    & ul {
      padding: 0px;
      list-style-position: inside;
      @media (max-width: 813px) {
        line-height: 0.5;
      }
      & li {
        margin: 0;
        font-size: $descriptioFontSize;
        color: white;
        font-family: $baseFont;
        line-height: 1;
        color: $descriptionColor;
      }
      @media (max-width: 989px) {
        font-size: 1.2em;
      }
      @media (max-width: 468px) {
        font-size: 1.1em;
      }
    }
  }
}
