$textColor: rgb(31, 30, 30);
$descriptionColor: rgb(200, 197, 197);
$primaryColor: #426522;
$redColor: rgb(23, 157, 190);
$borderRadius: 7px;
$descriptioFontSize: 1.2em;
$baseFont: "Montserrat", sans-serif;
$mono: "JetBrains Mono", monospace;
$bigFont: "WiGuru";
$backgroundColor: linear-gradient(rebeccapurple, rgb(36, 116, 123));
