$textColor: linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%), linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em,
  radial-gradient(at 50% 0, #484847, #090909);
$descriptionColor: black;
$primaryColor: #22653b;
$redColor: linear-gradient(rebeccapurple, teal);
$borderRadius: 7px;
$backgroundColor: linear-gradient(rebeccapurple, teal);
$descriptioFontSize: 1.2em;
$baseFont: "Montserrat", sans-serif;
$mono: "JetBrains Mono", monospace;
$bigFont: "WiGuru";
