$textColor: rgb(103, 103, 103);
$descriptionColor: rgb(200, 197, 197);
$primaryColor: #426522;
$redColor: rgb(1, 222, 251);
$borderRadius: 7px;
$descriptioFontSize: 1.2em;
$baseFont: "Montserrat", sans-serif;
$mono: "JetBrains Mono", monospace;
$bigFont: "WiGuru";
$backgroundColor: grey;
